@import 'vars';

.Menu {
	width: 150px;
	height: auto;
	border: 1px solid $--very-light-pink;
	border-radius: 6px;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 60px;
	right: 50px;
	background-color: white;
	z-index: 1;
}
.Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.Menu ul li {
	text-align: end;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
	font-weight: bold;
}
.Menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid $--very-light-pink;
}
.Menu ul li:last-child a {
	color: $--hospital-green;
	font-size: $--sm;
}
.Menu ul li a {
	color: $--black;
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}