@import 'vars';

.NewPassword {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}
.NewPassword-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.logo {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.title {
	font-size: $--lg;
	margin-bottom: 12px;
	text-align: center;
}
.subtitle {
	color: $--very-light-pink;
	font-size: $--md;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 32px;
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
}
.primary-button {
	background-color: $--hospital-green;
	border-radius: 8px;
	border: none;
	color: $--white;
	width: 100%;
	cursor: pointer;
	font-size: $--md;
	font-weight: bold;
	height: 50px;
}
.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.logo {
		display: block;
	}
}