@import 'vars';

.Order {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 16px;
	align-items: center;
	margin-bottom: 12px;
}
.Order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.Order p span:nth-child(1) {
	font-size: $--md;
	font-weight: bold;
}
.Order p span:nth-child(2) {
	font-size: $--sm;
	color: $--very-light-pink;
}
.Order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}