@import 'vars';

.ProductInfo {
	margin: 24px 24px 0 24px;
}
.ProductInfo p:nth-child(1) {
	font-weight: bold;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 4px;
}
.ProductInfo p:nth-child(2) {
	color: $--very-light-pink;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 36px;
}
.ProductInfo p:nth-child(3) {
	color: $--very-light-pink;
	font-size: $--sm;
	margin-top: 0;
	margin-bottom: 36px;
}
.primary-button {
	background-color: $--hospital-green;
	border-radius: 8px;
	border: none;
	color: $--white;
	width: 100%;
	cursor: pointer;
	font-size: $--md;
	font-weight: bold;
	height: 50px;
}
.add-to-cart-button {
	display: flex;
	align-items: center;
	justify-content: center;
}